modLoader = "javafml"
loaderVersion = "[47,)"
license = "${mod_license}"

[[mods]]
    modId = "${mod_id}"
    version = "${version}"
    displayName = "${mod_name}"
    displayURL = "${mod_url}"
    authors="${mod_author}"
    description = '''
XeroCore
XenoCore is the core MOD of XenoverseXero and is not supported in any other environment.
'''

    [[dependencies.${mod_id}]]
        modId = "forge"
        mandatory = true
        versionRange = "[${forge_version},)"
        ordering = "NONE"
        side = "BOTH"
    [[dependencies.${mod_id}]]
        modId = "minecraft"
        mandatory = true
        versionRange = "[${minecraft_version},)"
        ordering = "NONE"
        side = "BOTH"
    [[dependencies.${mod_id}]]
        modId = "gtceu"
        mandatory = true
        versionRange = "[${gtceu_version},)"
        ordering = "AFTER"
        side = "BOTH"
